<div  class="todo-grid">
    <div class="todo-details">
      <button class="complete-btn" *ngIf="!todo.completed" (click)="onComplete()">Complete</button>
      <span class="task">{{ todo.task }}</span>
      <span>{{todo.duration | number: '1.0-2'}} hrs</span>
      <span *ngIf="todo.priority === 'normal'" class="normalPriority"> {{ todo.priority }}</span>
      <span *ngIf="todo.priority === 'high'" class="upArrow">&uarr; {{todo.priority}}</span>
      <span *ngIf="todo.priority === 'low'" class="downArrow">&darr; {{todo.priority}}</span>
  
    </div>
    <div class="todo-buttons">
      <!-- <button *ngIf="!todo.completed" (click)="onComplete()">Complete</button> -->
      <button (click)="onDelete()">X</button>
      </div>
  </div>
